*
{
  box-sizing: border-box;
}

i
{
  font-style: normal;
}

.icon-eye::before
{
  content: "\1F441";
}

.icon-phone::before
{
  content: "\1F57B";
}

.icon-dollar::before
{
  content: " $ (cents)";
}

.eyeColorH
{
  animation: colorNav 3s infinite linear;
}

.phoneColumnHeader
{
  width: 40px;
}

.centerAlignCell
{
  text-align: center;
}

@keyframes colorNav
{
  0% { color: brown; }
  33% { color: green;}
  66% { color: blue;}
  100% { color: brown;}
}