*
{
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}


table
{
  border-collapse: collapse;

  background-color: rgb(214, 214, 214);
}

table td,
table th
{
  padding: 2px;
  
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.redRectangle
{
  height: 60px;

  padding: 20px;

  font-size: 16px;

  background-color: rgb(255, 150, 80);
}

.close-icon::before
{
  content: "X";
  display: inline-block;

  color:  transparent;

  width: 10px;
  height: 10px;

  background:
    linear-gradient(45deg, transparent, transparent, transparent, rgb(145, 0, 0), transparent, transparent, transparent ),
    linear-gradient(-45deg, transparent, transparent, transparent, rgb(145, 0, 0), transparent, transparent, transparent );
}

.o-icon::before
{
  content: "O";
  display: inline-block;

  width: 10px;
  height: 10px;

  border-radius: 45%;

  color: transparent;
  background:
  radial-gradient(rgba(255, 255, 255, 0.6), transparent),
    linear-gradient(-60deg, white, rgb(0, 145, 20), white );
}

#app
{
  padding: 10px;
}