*
{
  box-sizing: border-box;
}

i
{
  font-style: normal;
}

.icon-eye::before
{
  content: "\1F441";
}

.icon-phone::before
{
  content: "\1F57B";
}

.icon-dollar::before
{
  content: " $ (cents)";
}

.phoneColumnHeader
{
  width: 40px;
}

.centerAlignCell
{
  text-align: center;
}