*
{
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}


table
{
  border-collapse: collapse;

  background-color: rgb(214, 214, 214);
}

table td,
table th
{
  padding: 2px;
  
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.redRectangle
{
  height: 60px;

  padding: 20px;

  font-size: 16px;

  background-color: rgb(255, 150, 80);
}

.close-icon::before
{
  content: "X";

  font-weight: bolder;
}

#app
{
  padding: 10px;
}